.maindiv{
max-width: 1440px;
width: 100%;
margin:0 auto;
background: linear-gradient(0.29deg, rgba(255, 255, 255, 0.5) 0.12%, #FFFFFF 42.16%, #FFFFFF 103.52%);
}

.inner_conter{
width: 1,440px;
width: 100%;
margin:0 auto;
padding-top: 80px;
padding-bottom: 80px;    
}

.h1{
font-family: "Poppins", sans-serif;
font-size: 48px;
font-weight: 500;
line-height: 48px;
letter-spacing: -1px;
text-align: center;
max-width: 1280px;
margin: 0 auto;
}


.para{
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 29.61px;
text-align: center;
margin: 0 auto;
max-width: 1057px;
padding-top: 24px;
}


.svg{
display: flex;
gap: 24px;
}


.flex_1{
display: flex;
gap: 32px;
}

.mainflex{
display: flex;
gap: 32px;
justify-content: center;
padding-top: 64px;
max-width: 1280px;
margin: 0 auto; 
justify-content: space-between;
}



.heading{
font-family: "Poppins", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 24px;
text-align: left;
}


.para1{
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 18px;
text-align: left;
}


.flexx{
display: flex;
flex-direction: column;
gap: 32px;
}


